/*
 * File: index.css
 * Project: react-hooks-ss
 * Created: Monday, September 18th 2023, 5:42:37 am
 * Last Modified: Tuesday, September 19th 2023, 6:25:30 am
 * Copyright © 2023 AMDE Agência
 */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
